<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../layUi/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/all.css">
</head>
<style type="text/css">
    #scoreAni{
        height: 100%;
        width: calc(100% - 10px);
        margin: 0;
        padding: 0;
    }
    .search{
        width: 100%;
        height: 27px;
        font-size: 14px;
        padding-left: 10px;
    }
    .xq > select{
        width: 70px;
    }
    .chartsContain{
        width: 100%;
        height: calc(100% - 50px);
        padding-top: 20px;
        overflow: hidden;
    }
    #charts{
        height: 100%;
        width: calc(100% + 20px);
        overflow-y: scroll;
    }
    .chart{
        float: left;
        width: 298px;
        height: 330px;
        padding: 2px;
    }
</style>
<body>
<div id="scoreAni">
    <div class="search">
        <div class="bj">班级:
            <select id="bj">
                <template v-for="item in bj">
                    <option :value="item" >{{item}}</option>
                </template>
            </select>
        </div>
        <div class="xn">学年:
            <select id="xn">
                <template>
                    <template v-for="item in schoolYear">
                        <option :value="item" >{{item}}</option>
                    </template>
                </template>
            </select>
        </div>
        <div class="xq">学期:
            <select id="xq">
                <template>
                    <template>
                        <option :value="1" >1</option>
                        <option :value="2" >2</option>
                    </template>
                </template>
            </select>
        </div>
        <div class="button inq">查询</div>
    </div>
    <div class="chartsContain">
        <div id="charts">
        </div>
    </div>
</div>
</body>
<script src="../../js/outside/vue.js"></script>
<script src="../../js/outside/jquery.min.js"></script>
<script src="../../layUi/layui.js"></script>
<script src="../../js/outside/echarts.min.js"></script>
<script type="text/javascript">
    var scoreAni = new Vue({
        el: "#scoreAni",
        name: "scoreAni",
        data: function () {
            return {
                bj:[],
                schoolYear:[],
            }
        },
        mounted: function () {
            this.getList();
        },
        methods: {
            getList: function () {
                var That = this;
                var y = new Date().getFullYear();
                for (var i = y; i > 1910; i--) {
                    That.schoolYear.push((i-1)+"-"+i);
                }
                $.post('../../class/getClassBy.do',{},function(da) {
                    for(var i=0;i<da.length;i++){
                        That.bj.push(da[i].class_id);
                    }
                    That.layInit();
                });
            },
            layInit:function(){
                var that = this;
                layui.use(['layer','table'], function(){
                    laypage = layui.laypage;
                    table = layui.table;
                    //搜索框点击事件
                    $('.inq').on('click', function(){
                        that.initUserList();
                    });
                    //初始化表格数据
                    that.initUserList();
                });
            },
            initUserList: function () {
                var that = this;
                var charts = document.getElementById("charts");
                charts.innerHTML = "";
                $.ajax({
                    type: 'POST',
                    url: "../../course/getCourseBj.do",
                    data: {bj:$("#bj").val(),schoolYear:$("#xn").val(),semester:$("#xq").val()},
                    success:function (da) {
                        console.log(da)
                       if(da.size==0){
                            layer.msg("无数据！");
                        }else {
                           var charts = document.getElementById("charts");
                           charts.innerHTML = "";
                           for(var i=0;i<da.size;i++){
                               var result = da.data[i];
                               var div = document.createElement("div");
                               div.className = "chart";
                               charts.appendChild(div);
                               var myChart = echarts.init(div);
                               var xData = [];
                               for(var j=0;j<result.all.length;j++) {
                                   xData.push(result.all[j].name);
                               }
                               var data = result.all;
                               var options = {
                                   title: {
                                       text: result.courseName,
                                       subtext: '全年级成绩比例',
                                       x: 'center'
                                   },
                                   tooltip: {
                                       trigger: 'item',
                                       formatter: "{a} <br/>{b} : {c}人 ({d}%)",
                                       position:'right'
                                   },
                                   legend: {
                                       orient: 'vertical',
                                       bottom: '70px',
                                       right: '0px',
                                       data: xData
                                   },
                                   series: [
                                       {
                                           name: '成绩等级',
                                           type: 'pie',
                                           radius: ['30%', '50%'],
                                           center:['40%','50%'],
                                           data: data,
                                           avoidLabelOverlap: false,
                                           label: {
                                               normal: {
                                                   show: false,
                                                   position: 'center'
                                               },
                                               emphasis: {
                                                   show: true,
                                                   textStyle: {
                                                       fontSize: '15',
                                                       fontWeight: 'bold'
                                                   }
                                               }
                                           },
                                           labelLine: {
                                               normal: {
                                                   show: false
                                               }
                                           }
                                       }
                                   ]
                               };
                               myChart.setOption(options);
                               var div1 = document.createElement("div");
                               div1.className = "chart";
                               charts.appendChild(div1);
                               var myChart1 = echarts.init(div1);
                               var data1 = result.one;
                               var options1 = {
                                   title: {
                                       text: result.courseName,
                                       subtext: $("#bj").val()+'班成绩比例',
                                       x: 'center'
                                   },
                                   tooltip: {
                                       trigger: 'item',
                                       formatter: "{a} <br/>{b} : {c}人 ({d}%)",
                                       position:'right'
                                   },
                                   legend: {
                                       orient: 'vertical',
                                       bottom: '70px',
                                       right: '0px',
                                       data: xData
                                   },
                                   series: [
                                       {
                                           name: '成绩等级',
                                           type: 'pie',
                                           radius: ['30%', '50%'],
                                           center:['40%','50%'],
                                           data: data1,
                                           avoidLabelOverlap: false,
                                           label: {
                                               normal: {
                                                   show: false,
                                                   position: 'center'
                                               },
                                               emphasis: {
                                                   show: true,
                                                   textStyle: {
                                                       fontSize: '15',
                                                       fontWeight: 'bold'
                                                   }
                                               }
                                           },
                                           labelLine: {
                                               normal: {
                                                   show: false
                                               }
                                           }
                                       }
                                   ]
                               };
                               myChart1.setOption(options1);
                               var div2 = document.createElement("div");
                               div2.className = "chart";
                               charts.appendChild(div2);
                               div2.innerHTML = '<div style="text-align: center">班级成绩前'+result.top.length+'名</div><table class="layui-hide" id="'+result.courseName+'"></table>';
                               table.render({
                                   elem: '#'+result.courseName,
                                   cols: [[
                                       {type:'numbers'},
                                       {field: 'userId', title: '学生学号'},
                                       {field: 'username', title: '学生学号'},
                                       {field: 'score', title: '成绩', width: 60}
                                   ]],
                                   data: result.top,
                                   page:false
                               });
                               var div3 = document.createElement("div");
                               div3.className = "chart";
                               charts.appendChild(div3);
                               div3.innerHTML = '<div style="text-align: center">班级成绩后'+result.bottom.length+'名</div><table class="layui-hide" id="'+result.courseName +'1"></table>';
                               table.render({
                                   elem: '#'+result.courseName+'1',
                                   cols: [[ //标题栏
                                       {type:'numbers'},
                                       {field: 'userId', title: '学生学号'},
                                       {field: 'username', title: '学生学号'},
                                       {field: 'score', title: '成绩', width: 60}
                                   ]],
                                   data: result.bottom,
                                   page:false
                               });
                           }
                           layer.msg("查询成功！");
                        }
                    }
                });
            }
        }
    });
</script>
</html>
